<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Compose Newsletter</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='news.css') }}" rel="stylesheet">
<!--    <link rel="stylesheet" href=" {{url_for('static', filename = 'dropdown.css' )}}">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<!--
- #HEADER
-->

<header class="header" data-header>
    <div class="container">

      <h1>
        <a href="/admin_home" class="logo">Wildvine Admin</a>
      </h1>

      <select name="language" class="lang-switch">

        <option value="english">English</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>

      </select>

      <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="/admin_home" class="logo">Wildvine</a>

        <ul class="navbar-list">

          <li>
            <a href="/admin_home" class="navbar-link" data-nav-link>
              <span>Home</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/feedback_log" class="navbar-link" data-nav-link>
              <span>Feedback </span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/report_log" class="navbar-link" data-nav-link>
              <span>Feed Report </span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/admin_forum" class="navbar-link" data-nav-link>
              <span>Feed</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/report_c_log" class="navbar-link" data-nav-link>
              <span>Comment Report</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="/compose_newsletter" class="navbar-link" data-nav-link>
              <span>Newsletter</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

        </ul>

  </nav>

<!--upload button-->
</div>
</header>
<center> <h1>Compose Newsletter</h1></center>



    <center>
    <form method="POST" action="/compose_newsletter">
        {{ compose_form.hidden_tag() }}
        <h2> Newsletter Content</h2>
        {{ compose_form.newsletter_content(size=100, rows=20, cols=100) }}
        <br>
        {{ compose_form.submit() }}
    </form>
        </center>

  <!--
    - custom js link
  -->
  <script src="./static/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
