{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename = 'feedback.css' )}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>You're Feedback is Appreciated</title>
</head>
<body>
  <div class="error_lname">
    {% if form.last_name.errors %}
        {{ form.last_name.errors[0] }}
    {% endif %}
</div>
<form id="feedback-form" method="POST" action="" enctype="multipart/form-data">
  <div class="form-group">
    <h1>Feedback Form</h1>
    {{ form.csrf_token }}
    {{ form.first_name.label }} {{ form.first_name }}
  </div>
  <div class="form-group">
    {{ form.last_name.label }} {{ form.last_name }}
  </div>

  <div class="form-group">
    {{ form.email.label }} {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.title.label }}
    {% for subfield in form.title %}
      <label class="radio-container">
        {{ subfield }}
        <span class="checkmark"></span>
        {{ subfield.label }}
      </label>
    {% endfor %}
  </div>
  <div class="form-group">
    <label for="screenshot">Upload Screenshot:</label>
    <input type="file" id="screenshot" name="screenshot">
  </div>
  <div class="form-group">
    {{ form.remarks.label }}{{ form.remarks(rows=10) }} <!-- Set the number of rows here -->
  </div>
  <br>
  <br>
  <br>
  <button type="submit" value="submit" class="submit">Submit</button>
  <br>
  <br>
</form>
</div>
{% endblock %}
</body>
</html>