
{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link href=" {{url_for('static', filename = 'style.css' )}}" rel="stylesheet">-->
  <title>Wildvine - Give Love for Saving World Animals</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- custom css link -->
  <link rel="stylesheet" href=" {{url_for('static', filename = 'style(lionel).css' )}}">

  <!-- google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
    rel="stylesheet">
</head>

<body>

<!--
- #HEADER
-->

<header class="header" data-header>
<div class="container">

  <h1>
    <a href="/home" class="logo">Wildvine</a>
  </h1>

  <select name="language" class="lang-switch">

    <option value="english">English</option>
    <option value="french">French</option>
    <option value="spanish">Spanish</option>

  </select>

  <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
    <ion-icon name="menu-outline"></ion-icon>
  </button>

  <nav class="navbar" data-navbar>

    <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <a href="/home" class="logo">Wildvine</a>

    <ul class="navbar-list">

      <li>
        <a href="/home" class="navbar-link" data-nav-link>
          <span>Home</span>

          <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </li>

      <li>
        <a href="/forum" class="navbar-link" data-nav-link>
          <span>Feed</span>

          <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </li>


      <li>
        <a href="/contact" class="navbar-link" data-nav-link>
          <span>Contact</span>

          <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </li>

      <li>
        <a href="/feedback" class="navbar-link" data-nav-link>
          <span>Feedback</span>

          <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
        </a>
      </li>

    </ul>

  </nav>

  <div class="header-action">
        <a href="/add_post" class="button search-btn" aria-label="Add Post">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </a>
        </div>
</div>
</header>


   <!-- Feedback Form -->

<div class="form-container">
  <div class="error_fname">
    {% if form.first_name.errors %}
        {{ form.first_name.errors[0] }}
    {% endif %}
</div>

  <div class="error_lname">
      {% if form.last_name.errors %}
          {{ form.last_name.errors[0] }}
      {% endif %}
  </div>
  <h1 style="text-align:center">Feedback Form</h1>
  <form id="feedback-form" method="POST" action="">
    <div class="form-group">
      {{ form.csrf_token }}
      {{ form.first_name.label }} {{ form.first_name }}
    </div>
    <div class="form-group">
      {{ form.last_name.label }} {{ form.last_name }}
    </div>

    <div class="form-group">
      {{ form.email.label }} {{ form.email }}
    </div>
    <div class="form-group">
      {{ form.title.label }}
      {% for subfield in form.title %}
        <label class="radio-container">
          {{ subfield }}
          <span class="checkmark"></span>
          {{ subfield.label }}
        </label>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.remarks.label }}{{ form.remarks(rows=10) }} <!-- Set the number of rows here -->
    </div>
    <br>
    <br>
    <br>
    <input type="submit" value="Submit" class="submit"/>
    <br>
    <br>
  </form>
</div>


  <!-- FOOTER -->

  <footer class="footer">
    <div class="container">

      <ul class="footer-list">

        <li>
          <a href="#" class="footer-link">Terms of use</a>
        </li>

        <li>
          <a href="#" class="footer-link">Privacy & Policy</a>
        </li>

        <li>
          <a href="/feedback" class="footer-link">Feedback</a>
        </li>
      </ul>



    </div>
  </footer>


  <!-- custom js link -->
  <script src="./static/js/script.js"></script>

  <!-- ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}
</body>

</html>