<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <!-- Add your CSS and other imports here -->
    <link href=" {{url_for('static', filename = 'newlogin.css' )}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
    rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="top-header">
        <header>Forgot Password</header>
    </div>
        <form action="/form_forgot" method="post">
            <div class="input-field">
                <input type="email" placeholder="Email" name="email" required class="input">
                <i class="bx bx-mail-send"></i>
            </div>
            
            <p class="validation">{{ error }}</p>
            <button type="submit" class="g-recaptcha submit" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Login</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
    
    
</body>
</html>

