<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename = 'newlogin.css' )}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login NOW!</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
          document.getElementById("login-form").submit();
        }
      </script>
</head>
<body>
    <div class="top-header">
        <header>Login</header>
    </div>
    <form action="/form_login" method="POST" id="login-form">
        <div class="input-field">
            <input type="text" name="username" class="input" placeholder="Username" required>
            <i class="bx bx-user"></i>
        </div>
        <div class="input-field">
            <input type="password" name="password" class="input" placeholder="Password" required>
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="right">
            <label><a href="/forgot">Forgot Password?</a></label><br>
            <label><a href="/teacher_login">Are you a Teacher? Click here to Login!</a></label><br>
            <label><a href="/admin_login">Admin Login</a></label>
        </div>
        </div>
        <p class="validation">{{ error }}</p>
        <button type="submit" class="g-recaptcha submit" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Login</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</body>
</html>