<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password - OTP Verification</title>
    <!-- Add your CSS and other imports here -->
    <link href=" {{url_for('static', filename = 'newlogin.css' )}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
    rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="top-header">
        <header>Forgot Password</header>
        {% if error %}
            <p style="color: red;" class="validation">{{ error }}</p>
            <p style="color: red;" class="validation">{{ info }}</p>
        {% endif %}
    </div>
    <form method="post" action="/verify_forgot_otp" class="form-center">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="stored_otp" value="{{ otp }}">
        <div class="input-field">
            <input type="text" placeholder="Enter OTP" name="otp" required class="input">
        </div>
        <p class="validation">{{ error }}</p>
        <button type="submit" class="submit" style="width: 6%;">Verify</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</body>
</html>
