{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename = 'feedback.css' )}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>You're Feedback is Appreciated</title>
</head>
<body>
<!-- Report Form -->

<div class="report-container">
  <div class="form-container">
    <form id="report-form" method="POST" action="/report_form" enctype="multipart/form-data">
      <h1 style="text-align:left">Report Form</h1>
      {{ report_form.csrf_token }}
      <div class="form-group">
        {{ report_form.title.label }}
        {% for subfield in report_form.title %}
          <label class="radio-container">
            {{ subfield }}
            <span class="checkmark"></span>
            {{ subfield.label }}
          </label>
        {% endfor %}
        {% if report_form.title.errors %}
          <div class="error">{{ report_form.title.errors[0] }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ report_form.screenshot.label }}
        {{ report_form.screenshot(class="form-control-file") }}
        {% if report_form.screenshot.errors %}
          <div class="error">{{ report_form.screenshot.errors[0] }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ report_form.remarks.label }}
        {{ report_form.remarks(class="form-control") }}
        {% if report_form.remarks.errors %}
          <div class="error">{{ report_form.remarks.errors[0] }}</div>
        {% endif %}
      </div>
      <!-- Hidden input fields for additional information -->
      <input type="hidden" name="quiz_course_name" value="{{ request.args.get('quiz_course_name') }}">
      <input type="hidden" name="quiz_author_id" value="{{ request.args.get('quiz_author_id') }}">
      <input type="hidden" id="reporting-user-id" name="reporting_user_id" value="{{ session.username }}">
      <input type="submit" value="Submit" class="submit"/>
    </form>
  </div>
</div>

{% endblock %}
</body>
</html>