<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <!-- Add your CSS and other imports here -->
    <link href=" {{url_for('static', filename = 'newlogin.css' )}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
    rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="top-header">
        <header>Reset Password</header>
        {% if error %}
        <p style="color: red;" class="validation">{{ error }}</p>
        {% endif %}
    </div>
    <form method="POST" action="/reset_password" class="form-center">
        <input type="hidden" name="email" value="{{ email }}">
        <div class="input-field">
            <input type="password" placeholder="New Password" name="password" required class="input">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-field">
            <input type="password" placeholder="Confirm Password" name="confirm" required class="input">
            <i class="bx bx-lock-alt"></i>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" class="submit" style="width: 6%;" value="Reset">
    </form>
</body>
</html>
